// px转rem
@mixin px2rem($property, $px-values) {
  $base-font-size: strip-units($base-font-size);
  $pxs: "";
  $rems: "";
  @each $px-value in $px-values {
    @if $px-value==0 or type-of($px-value) !="number" {
      $pxs: #{$pxs + " " + $px-value};
      $rems: #{$rems + " " + $px-value};
    }
    @else {
      $px-value: strip-units($px-value);
      $pxs: #{$pxs + " " + $px-value}px;
      $rems: #{$rems + " " + $px-value / $base-font-size}rem;
    }
  }
  @if $rem-not-support-for-ie {
    #{$property}: $pxs;
  }
  #{$property}: $rems;
}
